<h1>Editando: {{user.name}}</h1>
<form action="/users/create" method="POST" class="form">
  <div class="form-control">
    <label for="name">Nome:</label>
    <input type="text" name="name" placeholder="Digite o nome do  usuário" value="{{user.name}}">
  </div>
  <div class="form-control">
    <label for="listing_url">Endereço do site:</label>
    <input type="text" name="listing_url" placeholder="Digite o endereço" value="{{user.listing_url}}">
  </div>
  <div class="form-control">
    <label for="summary">Resumo do imovel:</label>
    <input type="text" name="summary" placeholder="Escreva um resumo" value="{{user.summary}}">
  </div>
  <input type="submit" value="Cadastrar">
</form>